* {
  margin: 0;
  padding: 0;
}

.blue-box{
    height: 300px;
    width: 500px;
    background-color: blue;
    position: relative;
    margin-left: 200px;
    margin-top: 200px;
}

.red-circle{
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 100%;
    position: absolute;
    left: 250px;
    top: 150px;
}